body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-card {
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.info {
  padding: 10px;
  text-align: center;
}

// .load-more {
//   display: none;
//   margin: 20px auto;
//   padding: 10px 20px;
//   font-size: 16px;
//   cursor: pointer;
//   background-color: #4d4dff;
// }
.form-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}
.search-form {
  padding: 0 auto;
}
.form-input {
  height: 30px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 4px;
}
.submit-btn {
  height: 34px;
  border: 1px solid #cecece;
  background: #4d4dff;
  color: #cecece;
  cursor: pointer;
  font-weight: 600;
}
.submit-btn:hover,
.submit-btn:focus {
  color: white;
}
